* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vertical-size{
    min-height: 100vh;
    max-height: 100vh;
}

.bg-navbar{
    background-color: #ebebeb;
}

.bg-theme{
    background-color: #dddbdb;
}

.cadastro-icone{
    width: 60px;
}

.user-icone{
    width: 25px;
}

.hover-border:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.logo-site{
    width: 200px;
}